# Task 4.6 pt. 2 Starts here
1. Import libraries
2. Creating datasets import path
3. import orders_products_combined dataframe
4. Checking saved and imported orders_products_combined dataframe shape for match
5. Combining orders_products_combined dataframe with cleaned Products data set
6. Comfirming results of the merge using the merge Flag
7. Exporting newly created dataframe as ords_prods_merge

In [8]:
#import libraries
import pandas as pd
import numpy as np
import os

In [9]:
# Creating path
path = r'C:\Users\terry\Documents\Data Analytics Course\Achievement 4\23-11-2024 Instacart Basket Analysis'

In [10]:
# importing orders_products_combined dataframe
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [11]:
# importing prepared Products data set
df_prepared_products = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'), index_col = False)

## Checking saved and imported orders_products_combined & Products shapes

In [12]:
df_orders_products_combined.shape

(32434489, 10)

In [13]:
# Results of imported dataframe correspond to saved data set. 
# df_ords had 6 columns excluding the index column
# df_ords_prior had 4 columns 
# Combined columns result = 10
# Number of rows are all imported; 32434489 - including all df_ords rows that matched the df_ords_prior 'order_id' after the merge.

In [14]:
# Products data Shape
df_prepared_products.shape

(49672, 6)

In [15]:
# Checking orders_products_combined dataframe
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [16]:
# Checking products dataframe 
df_prepared_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

## Dropping unnecessary columns on both DataFrames
1. The '_merge' column on the orders_products_combined dataframe
2. The 'Unnamed:0' column on the prepared_products dataframe

In [17]:
# Dropping the '_merge' column
df_orders_products_combined = df_orders_products_combined.drop(['_merge'], axis = 1)

In [18]:
# Verifying orders_products_combined dataframe without the '_merge' Column
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [19]:
# Dropping the 'Unnamed:0' column
df_prepared_products = df_prepared_products.drop(['Unnamed: 0'], axis =1)

In [20]:
# Verifying prepared_products dataframe without the 'Unnamed: 0' column
df_prepared_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

# Merging both DataFrames
## Thought process: 
First off, a merge is possible due to the fact that both DataFrames have a common column namely; the 'product_id' column. That being said, there are no details as to what specific analysis have to carried out which could influence the type of merge needed. As a result, i will be using the default merge (inner join) to merge both DataFrames.

In [21]:
# Merging orders_products_combined and Products DataFrames
ords_prods_merge = df_orders_products_combined.merge(df_prepared_products, on = ['product_id'], indicator = 'match')

In [22]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,match
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [23]:
ords_prods_merge.shape

(32404859, 14)

In [24]:
ords_prods_merge['match'].value_counts()

match
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [25]:
# The merged Dataframe matches 32404859 rows

## Exporting newly merged DataFrame ords_prods_merge - using pickle format

In [26]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))